{% extends 'base.html' %}

{% block title %}Home - Photo Walk & Eat{% endblock %}

{% block content %}
{% load static %}
<div class="text-center mt-5">
    <h1>출사 나들이 코스 추천 웹</h1>
    <p class="lead">로그인 후 원하는 장소, 음식점을 선택하고 네이버 지도를 통해 경로를 볼 수 있습니다.</p>
    <p>by fourhands</p>
</div>

{% include 'includes/header.html' %}

<center><img src="{% static 'home/img/seoulmap.jpg' %}" style="width: 1440px; height: 810px;"></center>
{% endblock %}

<!-- 일단 혹시 모르니까 주석 처리 했습니다.-->

<!--<!DOCTYPE html>-->
<!--<html lang="ko">-->
<!--{% load static %}-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>home</title>-->

<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->


<!--&lt;!&ndash;    부트스트랩 형식 가지고 오려고 링크 단거임 아래 두줄. 모든 템플릿에 적용&ndash;&gt;-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>-->

<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;    네비게이션 바 형식 지정. 모든 템플릿에 적용함. 웹 이름이나 home 누르면 맨 처음 화면으로 가게 링크 걸어놓음&ndash;&gt;-->
<!--    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--            <div class="container">-->
<!--                <a class="navbar-brand" href="">Photo - walk & eat</a>-->
<!--                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>-->
<!--                <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">-->
<!--&lt;!&ndash;                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="">Home</a></li>&ndash;&gt;-->
<!--                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="">Home</a></li>-->
<!--                       &lt;!&ndash;로그인을 했다면 로그아웃 버튼이 뜸&ndash;&gt;-->
<!--                         {% if user.is_authenticated %}-->
<!--                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'common:logout' %}">Log out({{ user.username }})</a></li>-->
<!--                        &lt;!&ndash;로그인을 안했다면 로그인 버튼이 뜸&ndash;&gt;-->
<!--                        {% else %}-->
<!--                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'common:login' %}">Log in</a></li>-->
<!--                        {% endif %}-->

<!--                        {% if not user.is_authenticated %}-->
<!--                        &lt;!&ndash;로그인을 안했다면 회원가입 버튼이 뜸&ndash;&gt;-->
<!--                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'common:signup' %}">Sign up</a></li>-->
<!--                        {% endif %}-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </nav>-->

<!--&lt;!&ndash;    제목과 부제목도 일정한 형식으로 지정. 모든 템플릿에 같은 형식, 다른 내용으로 적용함&ndash;&gt;-->
<!--     <div class="container">-->
<!--            <div class="text-center mt-5">-->
<!--                <h1>출사 나들이 코스 추천 웹</h1>-->
<!--                <p class="lead">로그인 후 원하는 장소, 음식점을 선택하고 네이버 지도를 통해 경로를 볼 수 있습니다.</p>-->
<!--                <p>by fourhands</p>-->
<!--            </div>-->
<!--    </div>-->

<!--    <header class="masthead">-->
<!--            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">-->
<!--                <div class="d-flex justify-content-center">-->
<!--                    <div class="text-center">-->
<!--                          &lt;!&ndash; 로그인을 했다면 시작 버튼과 로그아웃 버튼 생성&ndash;&gt;-->
<!--                          {% if user.is_authenticated %}-->
<!--                          <a class="btn btn-success" href="place/place_category/">Get Started</a>-->
<!--                          <a class="btn btn-warning" href="{% url 'common:logout' %}">Log out({{ user.username }})</a>-->

<!--                          &lt;!&ndash; 로그인을 안했다면 로그안 버튼과 회원가입 버튼 생성&ndash;&gt;-->
<!--                          {% elif not user.is_authenticated %}-->
<!--                          <a class="btn btn-success" href="{% url 'common:login' %}">Log in</a>-->
<!--                          <a class="btn btn-primary" href="{% url 'common:signup' %}">Sign up</a>-->
<!--                          {% endif %}-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </header>-->

<!--    &lt;!&ndash; 서울 나들이 장소 맵 이미지 띄우기&ndash;&gt;-->
<!--    <center><img src="{% static 'home/img/seoulmap.jpg' %}" style="width: 1440px; height: 810px;"></center>-->





<!--    &lt;!&ndash;자바 스크립트에 부트스트랩 사용&ndash;&gt;-->
<!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>-->
<!--</body>-->

<!--</html>-->
