<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>home</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="style.css">-->

<!--    부트스트랩 형식 가지고 오려고 링크 단거임 아래 두줄. 모든 템플릿에 적용-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>
<!--    네비게이션 바 형식 지정해준거임. 모든 템플릿에 적용함. 웹 이름이나 home 누르면 맨 처음 화면으로 가게 링크 걸어놓음-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="">출사 나들이 코스 추천 웹</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="">Home</a></li>

                    </ul>
                </div>
            </div>
        </nav>

<!--    제목과 부제목도 일정한 형식으로 지정. 모든 템플릿에 같은 형식, 다른 내용으로 적용함-->
     <div class="container">
            <div class="text-center mt-5">
                <h1>출사 나들이 코스 추천 웹</h1>
                <p class="lead">원하는 장소, 음식점을 선택하고 네이버 지도를 통해 경로를 볼 수 있습니다.</p>
                <p>by fourhands</p>
            </div>
        </div>

    <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                          <a class="btn btn-success" href="place/place_category/">Get Started</a>
                    </div>
                </div>
            </div>
        </header>

    <center><img src="{% static 'home/img/seoulmap.jpg' %}" style="width: 1440px; height: 810px;"></center>





<!--    부트스트랩에 자바 스크립트 사용하려면 아래 두줄 달아줘야함.-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>

</html>