<!DOCTYPE html>
<html>
<head>
    <title>음식 카테고리 선택</title>
</head>
<body>
    <h2>음식 카테고리 선택</h2>
    <h3>선택 후 맛집 보여주기</h3>

    <form method="get" action="{% url 'restaurant:show_selected_restaurants' %}">
        <label for="category">음식 카테고리를 고르세요:</label>
        <select id="category" name="category">
            {% for category in all_categories %}
                <option value="{{ category }}" {% if category == selected_category %}selected{% endif %}>{{ category }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Show Restaurants">
    </form>

</body>
</html>
