{% extends 'base.html' %}

{% block title %}Restaurant Details{% endblock %}

{% block content %}
{% load static %}

<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{ naver_map_api_key }}"></script>

<style>
.marker-dot {
    width: 24px;
    height: 24px;
    background-color: green;
    border-radius: 50%;
}
</style>

<div class="container">
    <div class="text-center mt-5">
        <h1>{{place_course}} ~ {{ restaurant.name }}</h1>
<!--        <p class="lead">{{ restaurant.addr }}</p>-->
    </div>
</div>

<center>
<div id="map" style="width:800px;height:500px;"></div>

<script>
    var map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng({{ place_latitude }}, {{ place_longitude }}),
        zoom: 15
    });

    var restaurantMarker = new naver.maps.Marker({
        position: new naver.maps.LatLng({{ restaurant.latitude }}, {{ restaurant.longitude }}),
        map: map,
        title: '{{ restaurant.name }}'
    });

    var placeMarker = new naver.maps.Marker({
        position: new naver.maps.LatLng({{ place_latitude }}, {{ place_longitude }}),
        map: map,
        title: '{{ place_course }}',
        icon: {
            content: '<div class="marker-dot"></div>',
            anchor: new naver.maps.Point(12, 12),
        }
    });

    var pathCoordinates = [
        new naver.maps.LatLng({{ place_latitude }}, {{ place_longitude }}),
        new naver.maps.LatLng({{ restaurant.latitude }}, {{ restaurant.longitude }})
    ];

    var polyline = new naver.maps.Polyline({
        map: map,
        path: pathCoordinates,
        strokeColor: '#ff0000',
        strokeOpacity: 0.5,
        strokeWeight: 5,
        strokeStyle: 'dash',
        strokeDashArray: [1, 1]
    });
</script>
</center>
{% endblock %}
