{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
{% load static %}

<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{ naver_map_api_key }}"></script>

<!-- 최종적으로 선택한 나들이 장소를 표시해주는 마커의 스타일 정의 -->
<style>
.marker-dot {
    width: 24px;
    height: 24px;
    background-color: green;
    border-radius: 50%;
}
</style>


<div class="container">
        <div class="text-center mt-5">
            <h1>선택된 음식 카테고리: {{ selected_category }}</h1>
            <p class="lead">맛집 지도</p>

        </div>
</div>

<!-- 맛집 지도와 지도에 표시되는 마커들, 버튼 생성 함수 정의 -->
<center>
<div id="map" style="width:800px;height:500px;"></div>
<script>
    // 네이버 API 지도 초기값 정의
    var map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng({{ place_latitude }}, {{ place_longitude }}), // 선택한 나들이 장소의 위치(마커)를 중심으로 설정
        zoom: 15
    });

    // 현재 선택된 마커의 정보를 담는 변수
    var selectedMarkerInfo = null;

    // 선택한 음식 카테고리에 맞는 식당들을 지도위의 마커로 표시, 마커를 클릭하면 음식점의 정보를 출력
    {% for restaurant in restaurants %}
        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng({{ restaurant.latitude }}, {{ restaurant.longitude }}),
            map: map,
            title: '{{ restaurant.name }}'
        });

         // 마커를 클릭하면 정보 윈도우를 열어 음식점 정보를 표시
        var infoWindow = new naver.maps.InfoWindow({
            content: '<div>{{ restaurant.name }} - {{ restaurant.addr }}</div>'
        });

         // 클로저 안에서 let을 사용하여 변수를 선언
        (function(marker, infoWindow, restaurant) {
            naver.maps.Event.addListener(marker, 'click', function() {
        // 기존에 선택된 마커가 있으면 정보 윈도우를 닫고 선택 변수 초기화
                 if (selectedMarkerInfo) {
                    selectedMarkerInfo.infoWindow.close();
                    selectedMarkerInfo.buttons.forEach(function(button) {
                        button.parentNode.removeChild(button);
                    });
                    selectedMarkerInfo = null;
                }

                infoWindow.open(map, marker);
                createButtons(restaurant);
            });
        })(marker, infoWindow, {{ restaurant|safe }});


         // 나들이 장소 마커를 생성
        var placeMarker = new naver.maps.Marker({
            position: new naver.maps.LatLng({{ place_latitude }}, {{ place_longitude }}),
            map: map,
            title: '{{ place_course }}',
            icon: {
            content: '<div class="marker-dot"></div>',
            anchor: new naver.maps.Point(12, 12),
            }
        });


        // 클로저 안에서 let을 사용하여 변수를 선언
        (function (placeMarker) {
            naver.maps.Event.addListener(placeMarker, 'click', function () {

                // 클릭한 마커의 정보를 나타내는 HTML 요소 생성
                var infoContent = '<div class="info-window">' +
                                  '    <p>선택한 나들이 장소</p>' +
                                  '    <h3>{{ place_course }}</h3>' +

                                  '</div>';

                // 기존에 열린 정보창이 있다면 닫기
                if (selectedMarkerInfo) {
                    selectedMarkerInfo.infoWindow.close();
                }

                // 정보창 열기
                var infoWindow = new naver.maps.InfoWindow({
                    content: infoContent,
                    backgroundColor: 'white',
                    borderColor: 'green',
                });

                infoWindow.open(map, placeMarker);


            });
        })(placeMarker);


    {% endfor %}

    // 선택 버튼과 추가 기능 버튼을 생성하는 함수
    function createButtons(restaurant) {
         // 기존에 생성된 버튼이 있다면 삭제
         var existingButtons = document.querySelectorAll('.mapButton');
        existingButtons.forEach(function(button) {
            button.parentNode.removeChild(button);
        });
        // 선택 버튼 생성
        createButton('추가 정보 확인하기', function() {
            var url = 'https://map.naver.com/p/search/' + restaurant.name;
            window.open(url, '_blank');
        });

        // 경로 확인하기 버튼 생성
        createButton('경로 확인하기', function() {
            var url = 'http://map.naver.com/index.nhn?slng={{place_longitude}}&slat={{place_latitude}}&stext={{place_course}}&elng=' + restaurant.longitude + '&elat=' + restaurant.latitude + '&pathType=0&showMap=true&etext=' + restaurant.name + '&menu=route';
            window.open(url, '_blank');
        });
    }


    // 버튼을 생성하는 함수 정의
    function createButton(text, onClick) {
        var button = document.createElement('button');
        button.style.cssText = "position: relative; left: 40%; margin-right: 10px;";
        button.className = 'mapButton';
        button.innerText = text;
        button.className = 'btn btn-success';
        button.addEventListener('click', onClick);



        // 버튼을 body에 추가
        document.body.appendChild(button);

        // 현재 선택된 마커의 정보에 버튼 추가
        if (!selectedMarkerInfo) {
            selectedMarkerInfo = {
                buttons: [button],
                infoWindow: infoWindow
            };
        } else {
            selectedMarkerInfo.buttons.push(button);
        }
    }


</script>
</center>
{% endblock %}