<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <!-- 로그인을 했다면 시작 버튼과 로그아웃 버튼 생성 -->
                {% if user.is_authenticated %}
                <a class="btn btn-success" href="{% url 'place:place_category' %}">Get Started</a>
                <a class="btn btn-warning" href="{% url 'common:logout' %}">Log out ({{ user.username }})</a>

                <!-- 로그인을 안했다면 로그인 버튼과 회원가입 버튼 생성 -->
                {% else %}
                <a class="btn btn-success" href="{% url 'common:login' %}">Log in</a>
                <a class="btn btn-primary" href="{% url 'common:signup' %}">Sign up</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
